body {
  position: relative;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 300px;
  box-sizing: border-box;
}

/* header */
.navbar {
  border-bottom: 2px solid #DDD;
}

.btn-secondary {
  margin-right: 15px;
}

.form-inline {
  margin-top: 10px;
}

.jumbotron {
  color: #fff;
  margin-top: -25px;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  background-image: url(../img/bg.jpg);
  background-position: top;
  text-shadow: 0px 0px 3px #222;
  text-align: center;
}

/* main */
.card {
  margin-bottom: 25px;
  overflow: hidden;
}

.pagination {
  float: right;
  margin-bottom: 30px
}

/* footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-upward {
  height: 30px;
  margin-top: 50px;
  background-color: #222831;
  color: #FFF;
  text-align: center;
}

.footer-lower {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 180px;
  padding: 30px 0px 15px 0px;
  background-color: #393e46;
  color: #FFF;
  text-align: center;
}

.footer-lower a {
  margin-top: 30px;
  margin-right: 15px;
  margin-bottom: 20px;
  color: #aaa;
  font-size: 15px;
}
